@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Here is the link to the Baconsale site:</p>
    <a href="https://baconsale.com/"> https://baconsale.com/ </a>
</div>


